/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/
.navbar {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 8;
}

.navbar-brand{
    margin-left: 30px;
    margin-top: -5px;
    position: relative;
}

.nav-item a{
    color: #6f6f6f;
    font-weight: bold;
    margin-right: 30px;
}

.nav-item a:hover{
    color:#f0a422;
    border-bottom: 2px solid #f0a422;
}

#header {
    margin-bottom: 5px;
    background-image: url(../img/header.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    /*把背景固定在後方*/
    background-attachment: fixed;
    padding: 200px 0;
    border-radius: 0px;
    /* margin-bottom: 0px; */
    position: relative;
}


/*=============================================
=             portfolioSection                     =
=============================================*/

.section-title{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid #f0a422;
    border-radius: 5px;
    margin-left: 670px;
    z-index: 50;
}

.container{
    margin-top: 8%;
}
.container .row{
    margin: -68px;
}

.card{
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    box-shadow: 1px 3px 3px rgba(117, 117, 117, 0.428);
}
.card .btn{
    background-color:#f8a008cd;
}
.card a{
    text-shadow: none;
}

.card:before{
    position: absolute;
    content: ' ';
    width: 80%;
    height: 220%;
    background: rgba(255, 172, 18, 0.5);
    top: -50%;
    left: -100%;
    z-index: 10;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}
.card:hover:before{
    left: 10%;
}
.card img{
    width: 100%;
    height: auto;
}
.card-text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: rgb(255, 255, 255);
    left: 0;
    z-index: 12;
    transition: 1.1s;
    text-shadow:1px 2px 1px #858585 ;
}
.card-text h3{
    font-weight: bold;
}

.card:hover .card-text{
    top: 80px;
}

/*=============================================
=                   輪播                    =
=============================================*/
.section-title2{
    margin-top: 80px;
    margin-bottom: 30px;
    width: 180px;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid #f0a422;
    border-radius: 5px;
    margin-left: 670px;
    z-index: 50;
}


.carousel-indicators li {
    width: 15px;
    height: 15px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
    border-color: #f0a422;
  }
.carousel-item img{
    width: 100%;
}

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end{
    background-color: #f0a422;
}
.footer-end p {
    color: #ffffff;
    font-weight: bold;
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
    background-color: #f0a422;
}

