/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/
.navbar {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 8;
}

.navbar-brand{
    margin-left: 30px;
    margin-top: -5px;
    position: relative;
}

.nav-item a{
    color: #6f6f6f;
    font-weight: bold;
    margin-right: 30px;
}

.nav-item a:hover{
    color:#f0a422;
    border-bottom: 2px solid #f0a422;
}

#header {
    margin-bottom: 5px;
    background-image: url(../img/header.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    /*把背景固定在後方*/
    background-attachment: fixed;
    padding: 200px 0;
    border-radius: 0px;
    /* margin-bottom: 0px; */
    position: relative;
}

/*=============================================
=                   好肌乎                    =
=============================================*/





